.chart {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 214px;
	height: 214px;
	border: 7px solid #fcb53b;
	border-radius: 50%;
	margin-bottom: 50px;
}

.filledPart {
	background-color: #505050;
	width: 135px;
	height: 67.5px;
}

.blankPart {
	background-color: #fcb53b;
	width: 135px;
	height: 67.5px;
}

.chartCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #ffffff;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
}

.chartStroke {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 50%;
	overflow: hidden;
	width: 135px;
	height: 135px;
	transform: rotate(60deg);
}
