.wrapper {
	width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.container {
	width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.mainSection {
	padding: 50px 0;
}
