.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	width: max-content;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #fff;
	padding: 23px 13px;
	z-index: 1;
}

.descriptionRow {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.title {
	font-weight: 400;
	font-size: 10px;
	margin-bottom: 3px;
	text-align: start;
	color: #505050;
}

.doneNumber {
	font-weight: 900;
	font-size: 24px;
	color: #fcb53b;
}

.planNumber {
	font-weight: 900;
	font-size: 24px;
	color: #505050;
}
